* {
    font-family: satoshi;
    margin: 0;
    padding: 0;
}

body{
    width: 100vmax;
}


.announcement-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 2vmax;
    color: white;
}


.announcement-bar p{
    text-decoration: none;
    color: white;
    font-size: 0.8vmax;
}

.announcement-bar span{
    text-decoration: underline;
    color: white;
    font-size: 0.8vmax;
    font-weight: 500;
    cursor: pointer;
}

.cut i{
    font-weight: 500;
    cursor: pointer;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    padding: 1.5vmax 5vmax;
    gap: 3vmax;
    justify-content: space-evenly;
}

.logo{
    font-size: 1.5vmax;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.2vmax;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 1vmax;
}

.shop-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.09vmax;
    color: black;
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8vmax 1vmax;
    border-radius: 2vmax;
    gap: 0.5vmax;
    background-color: #F0F0F0;
    width: 40vmax;
    height: 1.5vmax;
    font-size: 1.5vmax;
}

.search-bar input{
    border: none;
    background-color: #F0F0F0;
    font-size: 0.8vmax;
    height: 2vmax;
}

.search-bar input:focus{
    border: none;
    outline: none;
}

.search-bar input{
    border: none;
    background-color: #F0F0F0;
    font-size: 0.8vmax;
    height: 2vmax;
}

.search-bar i{
    background-color: #F0F0F0;
    color: #8e8e8e;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    font-size: 1vmax;
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F0F1;
    height: 35vmax;
}


.text{
    display: flex;
    flex-direction: column;
    gap: 3vmax;
    padding: 4vmax 7vmax;

}

.text h1{
    font-family: Integral CF;
    font-size: 3.5vmax;
    font-weight: 700;
}
.counters{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 2.5vmax;
}

.counters h1{
    font-family: satoshi;
    font-size: 3.5vmax;
    font-weight: 500;
}

.counters p{
    font-family: satoshi;
    font-size: 1vmax;
    font-weight: 200;
}

.counters hr{
    height: 5vmax;
    color: rgb(162, 162, 162);
}

.shop-now{
    border: none;
    border-radius: 1.5vmax;
    background-color: black;
    color: white;
    height: 3vmax;
    width: 10vmax;
    font-size: 0.9vmax;
}

.hero-image{
    display: flex;
    flex-direction: column;
}

.hero-image img{
   width: 40vmax;
   padding-bottom: 0;
   margin-bottom: -4px;
}

.brands{
    background-color: black;
    height: 5vmax;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 10vmax;
    align-items: center;
    padding-left: 7vmax;
    padding-right: 7vmax;
}

.brands img{
    height: 1.8vmax;
}

.new-arrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vmax 7vmax;
    justify-content: space-evenly;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Integral CF;
    font-weight: 700;
    font-size: 3vmax;
}

.products{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3vmax;
        padding: 3vmax 0 3vmax 0;
}

.new-arrivals .product1{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product2{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product3{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product4{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.new-arrivals .view-all{
    border: solid;
    border-color: grey;
    border-width: 0.05vmax;
    border-radius: 5vmax;
    background-color: white;
    width: 10vmax;
    height: 3vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.body-seprator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7vmax;
    margin-right: 7vmax;
    color: grey;
}

.style-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
    margin: 2vmax 7vmax;
    border-radius: 2vmax;
    height: 45vmax;
}

.style-section  .heading {
    display: flex;
    flex-direction: row;
    font-family: Integral CF;
    font-size: 2vmax;
    font-weight: 700;
    margin: 3vmax;
}

.style-section .one-style-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmax;
}


.style-section .two-style-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmax;
    margin-top: 1.5vmax;
}

.style-section img{
    height: 15vmax;
    border-radius: 1.5vmax;
}

.products img{
    height: 15vmax;
}

.fifth-section{
    display: flex;
    flex-direction: column;
    margin: 3vmax 7vmax;
}

.happy-customers{
    display: flex;
    flex-direction: row;
    gap: 42vmax;
}

.fifth-section p{
    color: black;
    font-size: 2.5vmax;
}

.reviews{
    display: flex;
    flex-direction: row;
    gap: 3vmax;
}

.card-one{
    width: 28vmax;
    height: 15vmax;
    border: solid;
    border-width: 0.1vmax;
    border-radius: 1.5vmax;
    margin-top: 4vmax;
    border-color: rgb(180, 180, 180);
}

.card-one .name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3vmax;
    font-size: 1.2vmax;
    font-weight: 600;
    padding-top: 0.5vmax;
    padding-left: 1vmax;
}

.card-one .name p{
   font-size: 1vmax;
}

.card-one .text{
    font-size: 1vmax;
    padding: 0vmax
}

.card-one .text p{
    font-size: 1vmax;
    padding: 1vmax 1vmax;
}

.rating {
    display: flex;
    flex-direction: row;
    padding-left: 1vmax;
    gap:0.2vmax;
}
.rating p{
    padding-top: 1.5vmax;
    font-size: 1.3vmax;
    color: #FFC633;
}


.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    margin: 8vmax 7vmax;
    padding: 1vmax 2vmax;
    height: 10vmax;
    border-radius: 2vmax;
    gap: 5vmax;
    z-index: 2;
}
.subscribe .text{
    font-family: Integral CF;
    font-size: 2.5vmax;
    font-weight: 700;
    padding: 0;
    width: 33vmax;
}

.subscribe .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Integral CF;
    font-size: 2.5vmax;
    font-weight: 700;
    padding-left: 10vmax;
    padding-right: 0;
    width: 33vmax;
    gap:1vmax;
}

.subscribe .email .input{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    padding-left: 1vmax;
    gap: 1vmax;
    border: none;
    color: black;
    border-radius: 5vmax;
    height: 3vmax;
    width: 20vmax;
}

.subscribe .email .input input{
    display: flex;
    align-items: center;
    border: none;
    width: 8vmax;
    height: 3vmax;
}


.subscribe .email .button button{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    border: none;
    color: black;
    border-radius: 5vmax;
    height: 3vmax;
    width: 21vmax;
    cursor: pointer;
}   


footer{
    position: relative;
    background-color: #F0F0F0;
    height: 20vmax;
    margin-top: -13.5vmax;
    padding-top: 17vmax;
    z-index: -1;
}

html body{
    width: 100vmax;
}