* {
    font-family: satoshi;
    margin: 0;
    padding: 0;
}

body{
    width: 100vmax;
}


.announcement-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 2vmax;
    color: white;
}


.announcement-bar p{
    text-decoration: none;
    color: white;
    font-size: 0.8vmax;
}

.announcement-bar span{
    text-decoration: underline;
    color: white;
    font-size: 0.8vmax;
    font-weight: 500;
    cursor: pointer;
}

.cut i{
    font-weight: 500;
    cursor: pointer;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    padding: 1.5vmax 5vmax;
    gap: 3vmax;
    justify-content: space-evenly;
}

.logo{
    font-size: 1.5vmax;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.2vmax;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 1vmax;
}

.shop-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.09vmax;
    color: black;
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8vmax 1vmax;
    border-radius: 2vmax;
    gap: 0.5vmax;
    background-color: #F0F0F0;
    width: 40vmax;
    height: 1.5vmax;
    font-size: 1.5vmax;
}

.search-bar input{
    border: none;
    background-color: #F0F0F0;
    font-size: 0.8vmax;
    height: 2vmax;
}

.search-bar input:focus{
    border: none;
    outline: none;
}

.search-bar input{
    border: none;
    background-color: #F0F0F0;
    font-size: 0.8vmax;
    height: 2vmax;
}

.search-bar i{
    background-color: #F0F0F0;
    color: #8e8e8e;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    font-size: 1vmax;
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F0F1;
    height: 35vmax;
}


.text{
    display: flex;
    flex-direction: column;
    gap: 3vmax;
    padding: 4vmax 7vmax;

}

.text h1{
    font-family: Integral CF;
    font-size: 3.5vmax;
    font-weight: 700;
}
.counters{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 2.5vmax;
}

.counters h1{
    font-family: satoshi;
    font-size: 3.5vmax;
    font-weight: 500;
}

.counters p{
    font-family: satoshi;
    font-size: 1vmax;
    font-weight: 200;
}

.counters hr{
    height: 5vmax;
    color: rgb(162, 162, 162);
}

.shop-now{
    border: none;
    border-radius: 1.5vmax;
    background-color: black;
    color: white;
    height: 3vmax;
    width: 10vmax;
    font-size: 0.9vmax;
}

.hero-image{
    display: flex;
    flex-direction: column;
}

.hero-image img{
   width: 40vmax;
   padding-bottom: 0;
   margin-bottom: -4px;
}

.brands{
    background-color: black;
    height: 5vmax;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 10vmax;
    align-items: center;
    padding-left: 7vmax;
    padding-right: 7vmax;
}

.brands img{
    height: 1.8vmax;
}

.new-arrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vmax 7vmax;
    justify-content: space-evenly;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Integral CF;
    font-weight: 700;
    font-size: 3vmax;
}

.products{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vmax;
        padding: 3vmax 3vmax 2vmax 3vmax;
}

.new-arrivals .product1{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product2{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product3{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.product4{
    display: flex;
    flex-direction: column;
    gap: 0.7vmax;
}

.new-arrivals .view-all{
    border: solid;
    border-color: grey;
    border-radius: 5vmax;
    background-color: white;
    width: 10vmax;
    height: 3vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
